@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*Reset básico útil para proyectos pequeños*/
* {
    padding: 0;
    margin: 0;
}

body {
    /*Ausencia de color es negro*/
    background-color: #000000;
    /*Color de partes textuales y decorativas del elemento*/
    color: #F6F6F6;
    /*hacer que el elemento ocupe el 100% de la altura de la ventana de visualización (viewport) del navegador.*/
    height: 100vh;/*(viewport height)*/
    box-sizing: border-box;
}

.titulo-destacado {
    color: #22D4FD;
}

.presentacion {
    display: flex; /*Por default deja el 'flex-direction: row', es decir, deja los hijos en línea horizontalmente*/
    align-items: center; /*Es como el justify-content pero perpendicular al eje principal. Centra los elementos verticalmente teniendo como referencia el elemento más alto*/
    margin: 10%;/*espacio afuera*/
    justify-content: space-between;/*para separar el texto de la imagen*/
}

.presentacion__contenido {
    width: 615px;/*esto lo obtenemos de Figma. Del Layout W*/
}

.presentacion__contenido__titulo {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.presentacion__contenido__texto {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.presentacion__enlaces {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.presentacion_enlaces_link {
    width: 45%;
    background-color: #22D4FD;
    text-align: center;
    padding: 21.5px 0;/*No agregaremos relleno horizontal*/
    border-radius: 16px;
    font-family: "Montserrat", sans-serif;
    /*Grosor de la fuente*/
    font-weight: 600;/*Corresponde a SemiBold (semi-negrita) en Figma*/
    font-size: 24px;
    text-decoration: none;/*Quita el underline*/
    color: #000000;
}