@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*
DECLARACIÓN VARIABLES 
-Las variables que declaramos siempre inician por: --
-Para utilizar las variables lo hacemos usando la función "var( <--COLOCAMOS_NOMBRE_VARIABLE> )"
*/
:root {/*corresponde al alcance global*/
    /*Colores*/
    /*Podemos usar Color hunt" o cualquier sitio de paleta de colores para cambiar a nuestro gusto el sitio web solo modificando estas variables*/
    /*PALETA COLOR LIGTH*/
    --color-primario: #FFF2F2;/*corresponde al color de fondo*/
    --color-secundario: #A9B5DF;/*corresponde al color como blanco usado especialmente en los textos*/
    --color-terciario: #7886C7;/*Corresponde al color usado especialmente en los títulos*/
    --color-hover: #2D336B;/*color usado en el hover de los enlaces a redes sociales*/


    /*PALETA COLOR DARK*/
    --color-primario: #000000;/*corresponde al color de fondo*/
    --color-secundario: #F6F6F6;/*corresponde al color como blanco usado especialmente en los textos*/
    --color-terciario: #22D4FD;/*Corresponde al color usado especialmente en los títulos*/
    --color-hover: #272727;/*color usado en el hover de los enlaces a redes sociales*/
  

    /*Fuentes tipográficas*/
    --fuente-montserrat: "Montserrat", sans-serif;
    --fuente-krona: "Krona One", sans-serif;

}

/*Reset básico útil para proyectos pequeños*/
* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%; /*1rem = 10px*/
}

/****************************************
STYLE VERSIÓN DESKTOP
*****************************************/

body {
    /*Ausencia de color es negro*/
    background-color: var(--color-primario);
    /*Color de partes textuales y decorativas del elemento*/
    color: var(--color-secundario);
    /*hacer que el elemento ocupe el 100% de la altura de la ventana de visualización (viewport) del navegador.*/
    /*Teniendo en cuenta que ya tenemos más contenido vertical ya no necesitaremos este height*/
    /*height: 100vh;*//*(viewport height)*/
    box-sizing: border-box;
    /*Tipografía generamente usada*/
    font-family: var(--fuente-montserrat);
}

.header {
    margin: 2% 15%;
}

.header__menu__container {
    display: flex;
    gap: 80px;
    list-style: none;/*quita las viñetas de los <li>*/
}

.header__menu__link {
    text-decoration: none;/*quita el underline de los enlaces*/
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--color-terciario);
    padding: 0.5rem 1.0rem;
}

.header__menu__link:hover {
    color: #10a0c0;
}

.presentacion {
    display: flex; /*Por default deja el 'flex-direction: row', es decir, deja los hijos en línea horizontalmente*/
    align-items: center; /*Es como el justify-content pero perpendicular al eje principal. Centra los elementos verticalmente teniendo como referencia el elemento más alto*/
    margin: 4% 15%;/*espacio afuera*/
    justify-content: space-between;/*para separar el texto de la imagen*/
    gap: 82px;
}

.presentacion__contenido {
    /*width: 615px;*//*esto lo obtenemos de Figma. Del Layout W*/
    width: 100%;/*dejamos un responsivo el width*/
    display: flex;
    flex-direction: column;
    /*Agregamos espacio vertical con gap de Flexbox*/
    gap: 40px;
}

.presentacion__contenido__titulo {
    font-size: 3.6rem;
    font-family: var(--fuente-krona);
}

.presentacion__contenido__titulo--destacado {
    color: var(--color-terciario);
}

.presentacion__contenido__texto {
    font-size: 2.4rem;
    font-weight: 400;
}

.presentacion__contenido__texto a {
    text-decoration: none;
    color: var(--color-terciario);
}

.presentacion__contenido__texto--tamanio:hover {
    font-size: 2.2rem;
    font-weight: 700;
}

.presentacion__enlaces {
    display: flex;
    /*Al cambiar el flex-direction, cambiamos el eje de nuestros botones. Con el row el eje es horizontal, con el column el eje es vertical*/
    flex-direction: column;/*Por default es row*/
    /*En este contexto, utilizamos align-items para centrar los elementos column horizontalmente*/
    align-items: center;
    gap: 32px;/*Se obtiene del diseño en Figma. Seleccionando el elemento, luego pulsa la tecla ALT y mueve el mouse para conocer las medidas*/
}

.presentacion__enlaces__subtitulo {
    font-family: var(--fuente-krona);
    font-size: 2.4rem;/*Ya lo heredaba por el h2 del user agent (en Chrome)*/
    font-weight: 400;/*En el figma aparece 'Regular'*/
}

.presentacion__enlaces__link {
    width: 60%;
    text-align: center;
    border-radius: 8px;
    font-size: 2.4rem;
    /*Grosor de la fuente*/
    font-weight: 600;/*Corresponde a SemiBold (semi-negrita) en Figma*/
    padding: 2.15rem 0;/*No agregaremos relleno horizontal*/
    text-decoration: none;/*Quita el underline*/
    color: var(--color-secundario);
    border: 2px solid var(--color-terciario);

    /*propiedades para posicionar el icono y el texto del enlace*/
    display: flex;
    justify-content: center;/*lo utilizamos porque estamos en el eje horizontal*/
    gap: 16px;
    align-items: center;
}

/* hover - Esta propiedad cambia el aspecto del boton cuando posicionamos sobre el */
.presentacion__enlaces__link:hover {
    /*En el diseño de Figma, el diseñador establecio que al pasar el mouse se debía agregar un background color*/
    background-color: var(--color-hover);
    padding: 3.5%;
}

.presentacion__figura__img {
    width: 100%;/*Hacemos que la imagen ocupe el 100% del padre, es decir, del <figure>*/
}

.presentacion__figura__caption {
    text-align: center;
    font-size: 1.6rem;
    font-style: italic;
}

.footer {
    background-color: var(--color-terciario);
    padding: 2.364rem;/*Tomamos el valor que había en Figma*/
    color: var(--color-primario);
    text-align: center;
    font-size: 2.4rem;
    font-weight: 400;
}

/****************************************
STYLE VERSIÓN MOBILE
*****************************************/
/*Media Queries -> Se usará cuando el ancho del viewport sea igual o menor a 900px*/
@media (max-width: 900px) {

    .header__menu__container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    .presentacion {
        /*Ya tenemos un display: flex; y por default flex-direction está en fila (uno al lado del otro)*/
        flex-direction: column-reverse;/*Hacemos el reverse para que la imagen quede de primeras*/
        margin: 4%;/*Al probar en herramientas de desarrollador observamos que al hacer pequeña la pantalla se exprimia el contenido entre los laterales (relleno/padding)*/
    }

    .presentacion__contenido {
        /*el ancho del elemento se ajusta automáticamente al tamaño de su contenido. Esto significa que el elemento solo ocupará el espacio que necesita para mostrar su contenido, sin forzarse a llenar el 100% del ancho del elemento padre. Si el contenido es más pequeño, el elemento será más pequeño.*/
        width: auto;
    }

    .presentacion__enlaces__link {
        width: 75%;
    }
}
  